In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Sector split of emissions of selected heavy metals (EEA-33)

In [2]:
df1 = pd.read_csv('sector-split-of-emissions-of-14.csv')

In [3]:
df1

,Heavy Metals:text,sector_name_eea:text,Agriculture:text,pollutant_name:text,"Commercial, institutional and households:text",unit:text,Energy production and distribution:text,share:number,Energy use in industry:text,Industrial processes and product use:text,Non-road transport:text,Road transport:text,Waste:text,Other:text
0,NaN,Non-road transport,NaN,Cd,NaN,Mg,NaN,0.3,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Other,NaN,Cd,NaN,Mg,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Industrial processes and product use,NaN,Cd,NaN,Mg,NaN,33.2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Waste,NaN,Cd,NaN,Mg,NaN,2.4,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Road transport,NaN,Cd,NaN,Mg,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NaN,Other,NaN,total PAH,NaN,Mg,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,Agriculture,NaN,total PAH,NaN,Mg,NaN,12.2,NaN,NaN,NaN,NaN,NaN,NaN
61,Cadmium,NaN,1.52,NaN,20.83,NaN,13.38,NaN,28.69,28.00,0.28,3.59,3.59,0.14
62,Mercury,NaN,0.34,NaN,11.58,NaN,38.33,NaN,20.10,19.08,0.34,2.73,7.33,0.17
63,Lead,NaN,0.03,NaN,12.22,NaN,7.28,NaN,31.32,28.61,0.97,17.29,1.94,0.35

In [4]:
df1.groupby('sector_name_eea:text', as_index=False)['share:number'].mean().sort_values('share:number', ascending=False).head(4)

                       sector_name_eea:text  share:number
4      Industrial processes and product use     34.185714
1  Commercial, institutional and households     22.557143
2        Energy production and distribution     16.157143
3                    Energy use in industry     10.614286

# Emissions of selected persistent organic pollutants by sector

In [5]:
df2 = pd.read_csv('sector-split-of-emissions-of-15.csv')

In [6]:
df2

,sector_name_eea:text,pollutant_name:text,Unit:text,share:number
0,Non-road transport,Cd,Mg,0.3
1,Other,Cd,Mg,0.2
2,Industrial processes and product use,Cd,Mg,33.2
3,Waste,Cd,Mg,2.4
4,Road transport,Cd,Mg,3.4
...,...,...,...,...
56,Industrial processes and product use,total PAH,Mg,35.5
57,Waste,total PAH,Mg,2.0
58,Road transport,total PAH,Mg,1.9
59,Other,total PAH,Mg,0.1
60,Agriculture,total PAH,Mg,12.2

In [7]:
df2.groupby('sector_name_eea:text', as_index=False)['share:number'].mean().sort_values('share:number', ascending=False).head(4)

                       sector_name_eea:text  share:number
4      Industrial processes and product use     34.185714
1  Commercial, institutional and households     22.557143
2        Energy production and distribution     16.157143
3                    Energy use in industry     10.614286

# Emissions of the main air pollutants by sector group in the EEA-33

In [8]:
df3 = pd.read_csv('share-of-eea-33-emissions-5.csv')

In [9]:
df3

,sector_name_eea:text,pollutant_name:text,unit:text,emissions:number
0,Energy production and distribution,CO,Gg (1000 tonnes),765.425934
1,Non-road transport,CO,Gg (1000 tonnes),424.330609
2,Waste,CO,Gg (1000 tonnes),250.538752
3,Other,CO,Gg (1000 tonnes),4.309151
4,Energy use in industry,CO,Gg (1000 tonnes),2779.571307
...,...,...,...,...
58,Waste,SOx,Gg (1000 tonnes),2.646855
59,Non-road transport,SOx,Gg (1000 tonnes),72.733257
60,"Commercial, institutional and households",SOx,Gg (1000 tonnes),670.679623
61,Road transport,SOx,Gg (1000 tonnes),5.811759
62,Other,SOx,Gg (1000 tonnes),0.011127

In [10]:
df3['share:number'] = df3.groupby('pollutant_name:text', as_index=False)['emissions:number'].apply(lambda g: (g / g.sum())*100).values

In [11]:
df3

,sector_name_eea:text,pollutant_name:text,unit:text,emissions:number,share:number
0,Energy production and distribution,CO,Gg (1000 tonnes),765.425934,3.454256
1,Non-road transport,CO,Gg (1000 tonnes),424.330609,1.914942
2,Waste,CO,Gg (1000 tonnes),250.538752,1.130645
3,Other,CO,Gg (1000 tonnes),4.309151,0.019447
4,Energy use in industry,CO,Gg (1000 tonnes),2779.571307,12.543800
...,...,...,...,...,...
58,Waste,SOx,Gg (1000 tonnes),2.646855,0.057082
59,Non-road transport,SOx,Gg (1000 tonnes),72.733257,1.568567
60,"Commercial, institutional and households",SOx,Gg (1000 tonnes),670.679623,14.463890
61,Road transport,SOx,Gg (1000 tonnes),5.811759,0.125337
62,Other,SOx,Gg (1000 tonnes),0.011127,0.000240

In [12]:
df3.groupby('sector_name_eea:text', as_index=False)['share:number'].mean().sort_values('share:number', ascending=False).head(4)

                       sector_name_eea:text  share:number
1  Commercial, institutional and households     26.560484
0                               Agriculture     19.090958
4      Industrial processes and product use     15.948311
2        Energy production and distribution     13.610395